table, th, td{
	border: 1px solid black;
}

table{
	border-collapse: collapse;
	width: 5000px;
}

th, td{
	width: 50px;
	height: 20px;
	text-align: center;
	padding: 0;
}

input{
	border: 0px;
	padding: 0;
	text-align: center;
}

td.bold input{
	font-weight: 900;
}

td.italic input{
	font-style: italic;
}

td.underline input{
	text-decoration: underline;
}

input.highlight.blue{
	background-color: blue;
}

input.highlight.orange{
	background-color: orange;
}